DOCS_URL=http://localhost:3000
DOCS_BASE_URL=/
DOCS_ORGANIZATION=Agi-Learning
DOCS_PROJECT_NAME=retail-intelligence-ecommerce
DOCS_REPOSITORY_URL=https://github.com/Agi-Learning/retail-intelligence-ecommerce
